body .helpButton {
  width: 225px;
}

body .embeddedServiceHelpButton .uiButton .helpButtonLabel .message {
  overflow: initial;
  white-space: break-spaces;
}

body .embeddedServiceSidebarMinimizedDefaultUI .minimizedText>.message {
  overflow: visible;
  white-space: break-spaces;
}

body .embeddedServiceSidebarMinimizedDefaultUI .content {
  background-color: #CFB87C;
  color: #222;
}

body .embeddedServiceSidebarMinimizedDefaultUI.helpButton {
  background-color: #CFB87C;
  border-color: #CFB87C;
  padding: 0px;
}

body .embeddedServiceHelpButton .helpButton .uiButton {
  background-color: #CFB87C;
  color: #111;
  font-family: "Arial", sans-serif;
  font-weight: bolder;
  min-width: fit-content;
}

body .embeddedServiceHelpButton .helpButton .uiButton:focus {
  outline: 1px solid #CFB87C;
}

body .embeddedServiceHelpButton .helpButton .helpButtonEnabled:hover::before,
body .embeddedServiceHelpButton .helpButton .helpButtonEnabled:focus::before {
  opacity: 1;
  background-color: #a6a6a6;
}

body .embeddedServiceSidebarButton .label,
body .embeddedServiceSidebarButton:disabled .label,
body .embeddedServiceSidebarButton .label:hover,
body .embeddedServiceSidebarButton:hover .label {
  color: #111;
}

body .embeddedServiceSidebarButton:not(:disabled):focus,
body .embeddedServiceSidebarButton:not(:disabled):hover {
  background: #a6a6a6;
}

body .embeddedServiceLiveAgentStateChatPlaintextMessageDefaultUI.chasitor.plaintextContent {
  color: #111;
}

@supports (-webkit-touch-callout: none) {

  .embeddedservice-chat-header lightning-icon,
  embeddedservice-chat-header svg.slds-icon-text-default {
    fill: rgb(255, 255, 255) !important;
  }

  .slds-icon-text-default {
    visibility: hidden;
  }

  .embeddedservice-chat-header lightning-icon,
  embeddedservice-chat-header svg.slds-icon-text-default {
    margin-bottom: -20px;
  }

  .slds-icon-utility-close:after {
    content: "X";
    color: black;
    font-size: medium;
  }

  .slds-icon-utility-minimize-window:after {
    content: "__";
    color: black;
    font-size: medium;
  }

  button.closeButton[embeddedService-chatHeader_chatHeader] {
    padding-top: 0px;
  }

  .closeButton {
    margin-top: -13px;
    font-size: revert;
    font-weight: bolder;
  }

  .minimizeButton {
    margin-top: -13px;
    font-size: revert;
    font-weight: bolder;
  }
}

.service-servicecloud-eyecatcher {
  position: fixed;
  display: block;
  z-index: 2147483639;
  background: transparent;
  border: 0px;
  padding: 10px 10px 0px 0px;
  float: left;
  margin-right: -10px;
  backface-visibility: hidden;
  bottom: 59px;
  right: 13px;
}

.service-servicecloud-eyecatcher[hidden] {
  display: none;
}

.service-servicecloud-eyecatcher-closer {
  position: absolute;
  display: block;
  top: -5px;
  right: -3px;
  width: 16px;
  line-height: 16px;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-family: Arial, sans-serif;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
}

.service-servicecloud-eyecatcher-img {
  display: block;
  float: right;
  width: 275px;
  height: 124px;
  cursor: pointer;
  border-radius: 8px;
}
