services:
  ucb_site_configuration:
    class: 'Drupal\ucb_site_configuration\SiteConfiguration'
    arguments: # The list of arguments will match the constructor of the class exactly
      - '@current_user'
      - '@module_handler'
      - '@config.factory'
      - '@string_translation'
      - '@entity_type.manager'
      - '@entity_type.repository'
      - '@current_route_match'
      - '@messenger'
